body{
    background-color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    margin: 0;
    font-family: 'DoubleStruck';
}
.header{
    display: flex;
    width:100vw ;
    height:10vh ;
    
    border-style: solid;
    border-color: rgb(255, 255, 255);
     border-left-color: black;
    border-top-color: black;
}

.booking{
    width:33vw ;
    height: 10vh;
}
.booking2{
    width:33vw ;
    height: 10vh;
}
.booking3{
   width:33vw ;
    height: 10vh; 
    align-items: center;
    justify-items: center;
    display: flex;
    gap:25px;
}
.booking h1{
    align-content: center;
    justify-content: center;
    margin: 40px;
}
.booking2 h1{
    align-content: center;
    justify-content: center;
    margin: 40px;
}
body{
    margin: 0;
}


.TEXT{
    display: flex;
    width: auto;
    height: auto;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    margin: 10px;
}
.text img{
    max-width:auto ;
    max-height: auto;
}
h1{color: white;
}
.booking3 a{
    color: white;
}
@font-face {
    src: url("../Double\ Strike.ttf");
    font-family: 'DoubleStruck';
    font-weight: 400;
    font-style: normal;
}